$flat-button {
  height 24px
  line-height @height
  border none
  padding-top 0
  padding-bottom 0
  font-size 12px
  cursor pointer
}

$widget-title {
  font-size 14px
  line-height 24px
  margin 0
  background steelblue
  color white
  font-weight bold
  text-align center
}
