@require './base.styl'

.duration-widget {
  margin-top 16px
  border 1px solid steelblue
  .title {
    @extends $widget-title
  }

  p {
    margin 0
    line-height 32px
    font-size 14px
  }

  .duration
  .span-info {
    padding 0 8px
  }
  .brush-container {
    display block
    width 100%
    height 60px
    margin-bottom 8px
    background #eef2f5
    .selection {
      fill #2196F3
    }
  }
}
