@require './base.styl'

$border-color = #dadada

.button-group-widget {
  .reset-transform-button-wrapper {
    padding-left 40px
    display flex
    align-items center
    //justify-content center
    height 48px
    border-bottom $border-color 1px solid

    .reset-transform-button {
      //@extends $flat-button
    }

    .open-file-button {
      //@extends $flat-button
      margin-left 24px
    }
  }
}
