@require './base.styl'

.button-group-widget
  width 250px
  border 1px solid steelblue
  .title {
    @extends $widget-title
  }
  .global-button
    display flex
    border-bottom 1px solid steelblue
    > div
      flex 1 1 0
  .block
    display flex
    flex-direction column
    border-bottom 1px solid steelblue
    &:last-child
      border-bottom none

