@require './base.styl'

.date-chooser {
  padding-left 70px
  padding-bottom 18px
  border-bottom 1px solid #dadada

  .title {
    @extends $widget-title
  }

  .date-chooser-widget {
    display flex
    width 292px
    height 36px
    border 1px solid #cccccc
    border-radius 2px

    .date-chooser-date {
      margin 0
      margin-left 10px
      line-height @height
      font-size 20px
      color #595959
      font-family Consolas, 'Microsoft yahei', monospace
    }

    .date-chooser-buttons {
      margin-left auto
      border-left #ccc 1px solid

      > button {
        display block
        border none
        padding 0
        width 20px
        height 17px
        background-position center center
        background-repeat no-repeat
        background-color transparent
        cursor pointer
        border-top 1px solid #ccc
        &:first-child {
          border-top none
        }
      }
    }
  }
}
