@require './base.styl'

.floor-list-widget {
  padding-left 70px

  .title {
    @extends $widget-title
  }

  .floor-list {
    .floor-item {
      position relative
      height 37px
      display flex
      align-items center
      cursor pointer
      margin-left -70px
      padding-left 70px

      &.active {
        background #eceef4
      }

      .bar {
        position absolute
        left 0
        top 0
        bottom 0
      }

      .floor-name {
        width 60px
      }

      .points-count {
        width 100px
      }
    }
  }
}
