@require './base.styl'

.legend {
  position absolute
  z-index 1
  top 110px
  left 500px
  display flex
  pointer-events none
  cursor default

  .box {
    display flex
    align-items center
    margin-left 40px
    &:first-child {
      margin-left 0
    }

    .text {
      font-size 16px
      color #4d4b4e
      margin-right 10px
    //margin-left 8px
    //width 48px
    }
  }
}
