@require './base.styl'

.points-list-widget
  margin-top 16px
  border 1px solid steelblue

  .title
    @extends $widget-title

  .points-list
    display flex
    height 40px
    .box
      display flex
      align-items center
      margin-left 8px
      flex 1 1 0
      .symbol
        width 14px
        margin-top 2px
      .text
        margin-left 8px
        font-size 14px
        width 48px
