@require './base.styl'

.mac-list-widget {
  padding-left 70px
  padding-bottom 18px
  border-bottom 1px solid #ccc

  .title {
    @extends $widget-title
  }

  .mac-list {
    display flex
    flex-flow column

    .mac-item {
      display flex
      align-items center
      width 300px
      height 32px

      .mac-color {
        padding 0
        width 10px
        height 10px
        margin-left 4px
        margin-right 16px
        border-radius 50%
        cursor pointer
        border none
        outline none
        &:hover {
          box-shadow 0 0 12px 0 rgba(255, 0, 0, 0.4)
        }
      }

      .mac-text {
        margin 0
        line-height @height
        font-size 14px
        font-family Consolas, 'microsoft yahei', monospace
      }

      .mac-delete {
        display block
        cursor pointer
        margin-right 10px
        margin-left auto
      }
    }
  }

  .empty-mac-item-list {
    height 32px
    font-size 16px
    display flex
    align-items center
    justify-content center
    border-top none
  }

  .new-mac-item {
    width 300px
    display flex

    > input {
      flex-grow 1
      height 36px
      line-height @height
      padding-left 10px
      border 1px solid #ccc
      border-radius 2px
      font-size 20px
      color #595959
      font-family Consolas, 'Microsoft yahei', monospace
    }

    .add-button {
      margin-left 10px
      width 36px
      height 36px
      border 1px solid #ccc
      border-radius 2px
      background url(/static/img/add.svg) no-repeat center center
    }
  }
}
