* {
  box-sizing border-box
}

body, button, input, optgroup, select, textarea {
  font-family 'microsoft yahei'
}

$flat-button {
  height 24px
  line-height @height
  border none
  padding-top 0
  padding-bottom 0
  font-size 12px
  cursor pointer
}

$widget-title {
  font-size 14px
  line-height 24px
  margin 0
  background steelblue
  color white
  font-weight bold
  text-align center
}

.widgets {
  width 250px
  position absolute
  left 8px
  top @left
  background rgba(255, 255, 255, 0.9)
}

.mac-list-widget {
  border 1px solid steelblue

  .title {
    @extends $widget-title
  }

  .mac-list {
    display flex
    flex-flow column

    .mac-item {
      display flex
      align-items center
      height 32px
      border-top 1px solid steelblue
      &:first-child {
        border-top none
      }
      transition background 0.3s ease-in
      &:hover {
        background rgba(51, 51, 51, 0.25)
      }

      .mac-color > .color {
        width 16px
        height 16px
        margin 8px
        border-radius 50%
      }

      .mac-text {
        width 160px
        margin 0
        margin-left 5px
        line-height @height
        font-size 14px
        font-family monospace, 'microsoft yahei'
      }

      .mac-delete {
        @extends $flat-button
        margin-left auto
      }

      .mac-check {
        display block
        height @height
        width 16px
        margin-left 8px
        margin-right 4px
      }
    }
  }

  .new-mac-item {
    padding-left 10px
    height 32px
    display flex
    justify-content space-around
    align-items center
    border-top 1px solid steelblue

  input {
    height 24px
  }

    button {
      @extends $flat-button
      margin-left auto
      margin-right 4px
    }
  }
}
