.track-map {
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  overflow hidden
}

.tooltip-wrapper {
  position absolute
  pointer-events none
  > div {
    position absolute
    min-width 250px
    background rgba(0, 0, 0, 0.6)
    color white
    padding 8px
    transform translate(16px, 16px)
    font-family monospace, 'Microsoft Yahei'
    font-size 20px
  }
}
