@require './base.styl'

.slider {
  circle {
    transition r 200ms, fill 200ms, stroke 200ms
    stroke steelblue
    stroke-width 2
    fill steelblue
    &.dragging {
      r 8
    }
    &.lowest {
      fill #fafafa
      stroke #b9b9b9
    }
  }
}
