@require './base.styl'

.slider {
  margin-top 16px
  border 1px solid steelblue
  display flex
  flex-direction column
  .title {
    @extends $widget-title
  }

  .slider-svg {
    align-self center
    height 40px
    margin 8px 0

    circle {
      transition r 200ms, fill 200ms, stroke 200ms
      stroke steelblue
      stroke-width 2
      fill steelblue
      &.dragging {
        r 8
      }
      &.lowest {
        fill #fafafa
        stroke #b9b9b9
      }
    }
  }
}
