@require './base.styl'

.static-mac-mapping {
  .title {
    font-size 14px
    line-height 24px
    margin 0
    background steelblue
    color white
    font-weight bold
    text-align center
  }

  $item-height = 32px
  .mac-item-list {
    list-style none
    margin 0
    padding 0
    .mac-item {
      display flex
      align-items center
      height $item-height
      border steelblue 1px solid
      border-top none
      font-size 14px
      .name {
        padding-left 16px
        width 120px
        line-height $item-height
        font-family monospace
        input {
          width 120px
          font-family monospace
        }
      }
      .mac {
        width 160px
        line-height $item-height
        font-family monospace
        input {
          width 160px
          font-family monospace
        }
      }
      .button {
        @extends $flat-button
        width 60px
        &.delete, &.cancel {
          margin-left 16px
        }
      }
    }
  }
  .new-mac-item {
    height 32px
    display flex
    align-items center
    border 1px solid steelblue
    border-top none

    input {
      margin-left 16px
      width 120px
      height 24px
      font-family Consolas, monospace, 'microsoft yahei'
    }
  }
  .empty-mac-item-list {
    height 100px
    font-size 16px
    display flex
    align-items center
    justify-content center
    border 1px solid steelblue
    border-top none
  }
}
