@require './base.styl'

.track-detail-panel {
  position absolute
  display flex
  flex-direction column
  top 8px
  right 8px
  bottom 8px
  width 400px
  background white

  .title {
    position relative
    font-size 14px
    line-height 24px
    margin 0
    background steelblue
    color white
    font-weight bold
    text-align center

    .close {
      border none
      color white
      position absolute
      left 0
      top 0
      bottom 0
      width 24px
      cursor pointer
    }
  }

  .prev-or-next {
    display flex
    height 48px
  }

  .track-list {
    overflow-y auto
    padding 0 8px
    border 1px solid steelblue
    border-top none
  }

  .track {
    margin 16px 0
    border 2px solid #ececec
    &.highlighted {
      border-color #edb0a6
    }

    .track-info {
      > p {
        margin 0 8px
        line-height 24px
      }
      .first-line {
        display flex
        .centralize-button {
          @extends $flat-button
          margin-left auto
        }
      }
    }

    .track-point-list {
      list-style none
      margin 0
      padding 0
      .track-point {
        display flex
        align-items center
        height 32px
        line-height @height
        padding 0 8px
        cursor default
        &.highlighted {
          background antiquewhite
        }

        .symbol {
          width 20px
          &.circle {
            padding 0 2px
          }
        }

        .time {
          margin-left 8px
        }
      }
    }

    .track-hint {
      margin 0 8px
      line-height 32px
    }
  }
}
