.widgets {
  width 360px
  position absolute
  z-index 1
  left 0
  top 0
  bottom 0
  overflow-y auto
  background #f8f9fd
}

.floor-display {
  position absolute
  z-index 10
  pointer-events none
  left 50%
  top 0
  background rgba(10, 10, 10, 0.2)
  font-size 30px
  //font-weight bold
  //font-family monospace
  padding 8px
  transform translate(-50%, 0)
}
