@require './base.styl'

.visibility-chooser {
  padding-left 40px
  padding-bottom 18px
  border-bottom 1px solid #ccc

  .title {
    @extends $widget-title
    button {
      @extends $flat-button
    }
  }

  .list {
    display flex
    flex-flow column

    .list-item {
      display flex
      align-items center
      width 240px
      height 32px

      .color {
        padding 0
        width 10px
        height 10px
        margin-left 4px
        margin-right 16px
        border-radius 50%
        cursor pointer
        border none
        outline none
        &:hover {
          box-shadow 0 0 12px 0 rgba(255, 0, 0, 0.4)
        }
      }

      .text {
        margin 0
        margin-right auto
        line-height @height
        font-size 14px
        font-family Consolas, 'microsoft yahei', monospace
      }
    }
  }
}
